/* section intros */
.section_intro {
  padding: 50px 0 30px;
}

/* hero */
.hero {
  position: relative;
  display: flex;
  min-height: 80vh;
  width: 100%;
  padding: 120px 0 60px;
  background-image: url("../images/about-intro.jpg");
  background-position: center;
  background-size: cover;
}

.hero_overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: #000;
  opacity: .2;
}

.hero_inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
}


/*  */
.eyebrow {
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
}

.title {
  font-family: 'Montserrat-Bold';
  text-transform: uppercase;
}

/* brands/clients */
.client {
  height: 300px;
  margin-bottom: 30px;
  background-attachment: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .client {
    height: 480px;
  }
}

/*.client_overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
}*/

.client_logo {
  position: absolute;
  left: 30px;
  bottom: 40px;
}

/* all free clear */
#afc {
  background-image: url("../images/clients/afc.jpg");
}

#afc_green {
  background: #00a247;
  opacity: .2;
}

/* amgen */
#amgen {
  background-image: url("../images/clients/amgen.jpg");
}

/* save the children */
#stc {
  background-image: url("../images/clients/stc.jpg");
}

/* sanofi - zantac */
#zantac {
  background-image: url("../images/clients/zantac.jpg");
}

/* rftca */
#rftca {
  background-image: url("../images/clients/rftca.jpg");
}

/* wyeth */
#wyeth {
  background-image: url("../images/clients/wyeth.jpg");
}

/* ubc */
#ubc {
  background-image: url("../images/clients/ubc.jpg");
}

/* stony brook medicine */
#stonybrook {
  background-image: url("../images/clients/stonybrook.jpg");
}

/* transitions */
#transitions {
  background-image: url("../images/clients/transitions.jpg");
}

/* menu */
.menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -70px;
}

.logo {
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.logo img {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

nav {
  text-align: center;
}

nav ul {
  position: fixed;
  z-index: 10;
  list-style: none;
  height: 200px;
  width: 100%;
  margin: -30px auto 0;
  line-height: 175px;
  background: #000;
  transform: translateY(-200px);
  -webkit-transition: transform, 0.5s;
  transition: transform, 0.5s;
}

nav ul li {
  display: inline-block;
  margin: 15px;
  text-align: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.open main {
  transform: translateY(170px);
}

.open nav ul {
  transform: translateY(0px);
}

/*
.menu {
  background: none;
  z-index: 1;
  margin: 0;
  transform: translateX(0);
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-transition: width 0.5s, height 0.5s, transform 0.5s;
  transition: width 0.5s, height 0.5s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu .hamburger {
  width: 30px;
  height: 5px;
  background: ivory;
  position: relative;
  border-radius: 20px;
  -webkit-transition: background, 0.5;
  transition: background, 0.5;
}

.menu .hamburger:before, .menu .hamburger:after {
  content: "";
  background-color: ivory;
  width: 30px;
  height: 5px;
  position: absolute;
  display: block;
  border-radius: 20px;
  -webkit-transition: transform 0.5s, width 0.3s;
  transition: transform 0.5s, width 0.3s;
}

.menu .hamburger:before {
  top: -10px;
}

.menu .hamburger:after {
  bottom: -10px;
}


.open .menu {
  transform: translateX(165px);
}
.open .hamburger {
  background: transparent;
}
.open .hamburger:before {
  transform: rotate(-130deg);
  top: 0px;
  left: -5px;
}
.open .hamburger:after {
  transform: rotate(130deg);
  top: 0px;
  left: -5px;
}










/* footer */

/* Navigaton bullets styles
 * --------------------------------------- 
.pp-easing {
  -webkit-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  -moz-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  -o-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  /* custom 
  -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
  /* custom 

}

#pp-nav li .active span, .pp-slidesNav .active span {
  background: #bbb;
}
#pp-nav span, .pp-slidesNav span {
    border-color: #bbb !important;
}
/* sections 
.section {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#section1 {
  background-image: url("../images/section-one.jpg");
  animation: zoomin 10s ease;
  color: #ffffff;
}

#section2 {
  background-image: url("../images/section-two.jpg");
  animation: zoomin 10s ease;
  color: #ffffff;
}

#section3 {
  background-image: url("../images/section-three.jpg");
  animation: zoomin 10s ease;
  color: #ffffff;
}

#section4 {
  background-image: url("../images/section-four.jpg");
  animation: zoomin 10s ease;
  color: #ffffff;
}

#section5 .content {
  top: 100%;
  position: absolute;
  left: 0;
}

/*@-webkit-keyframes zoomin {
  0% { 
    background-size: auto 100%;
  } 
  100% {
    background-size: auto 105%;
  }
}

@keyframes zoomin {
  0% { 
    background-size: auto 100%;
  } 
  100% {
    background-size: auto 105%;
  }
}*/
/* Intro texts
   * --------------------------------------- 
 .intro {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
}
.intro h1 {
    font-size: 5em;
    font-weight: bold;
    color: #000;
}
#section5 .intro {
    color: #000;
}
/* Content page
   * --------------------------------------- 
 .header {
    padding-top: 80px;
    text-align: center;
}
.header h1 {
    font-size: 5em;
    font-weight: bold;
    color: #fff;
}
.header p {
    color: #f2f2f2;
    font-size: 1.7em;
}
.page {
    width: 80%;
    margin: 60px auto;
    background:white;
    padding: 60px;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #333;
}