<!doctype html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <title>{{ page.title }}</title>
    <meta name="source" content="{{ page.source }}">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/components.css">
    <!-- font import -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
  </head>
  <body>

    <nav role='navigation'>
      <ul>
        <li><a href="{{site.url}}/">Home</a></li>
        <li><a href="../about">About</a></li>
        <li><a href="../contact">Contact</a></li>
      </ul>
    </nav> 

    <header class="menu nav-down">
      <div class="logo">
        <img src="/images/logo.svg" width="100%;" alt="Havas Health Plus" />
      </div>
    </header>

    <main>
      {{ content }}<!-- content -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-8 offset-2 col-sm-4 offset-sm-0 col-md-3">
              <a href="../humans.txt"><img src="/images/havashealthplus.svg" width="100%;" alt="Havas Health Plus"></a>
            </div>
            <div class="col-6">
              <a class="font-small link" href=""><span class="no-margin"><b>Link Lorem</b></span></a>
              <a class="font-small link" href=""><span class="no-margin"><b>Link Lorem</b></span></a>
              <a class="font-small link" href=""><span class="no-margin"><b>Link Lorem</b></span></a>
            </div>
          </div>
        </div>
      </footer>
    </main>

    <!-- scripts -->
    <script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/scripts/components.js"></script>
  </body>
</html>