<!doctype html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <title>{{ page.title }}</title>
    <meta name="source" content="{{ page.source }}">
    <link rel="stylesheet" type="text/css" href="/css/plus.css">
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.css'>
    <link rel="stylesheet" type="text/css" href="/css/component.css">
  </head>
  <body>
    <nav role='navigation'>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>  
    <div class="menu">
      <div class="logo">
        <img src="/images/logo.svg" width="100%;" alt="Havas Health Plus" />
      </div>
    </div>
    <main>
  	  {{ content }}<!-- content -->
    </main>

  	<!-- scripts -->
    <script type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
    <script src='https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.js'></script>
    <script type="text/javascript" src="/scripts/component.js"></script>
  </body>
</html>